.footer {
  display: flex;
  flex: 1;
  padding: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
